<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for msg in messages %}
        {{msg}}
    {% endfor %}
    {{data.Name}}
    {{data.Age}}
    <br>
    <a href="{% url 'app8:update' data.id %}">Update</a>
    <a href="{% url 'app8:display_users' %}">Display</a>
    <a href="{% url 'app8:change_password' data.id%}">Change Password</a>
    <a href="{% url 'app8:logout'%}">Logout</a>
</body>
</html>